{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>

  
  #canvas {
    width: 150px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 45%;
    text-align: center;
  }

  .chart-area {
    height: 307px !important;
    width: 100% !important;
}
  
#chartLinePurple {
    position: relative;
    bottom: 58px;
    left: 360px;
}
  #alerta{
    position: relative;
    bottom: 40px;
    left: 330px;
  }
  </style>

<div class="row">
  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Alerta</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Nivel de Ruido</h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartLinePurple" width="150" height="300"></canvas>
          <p id="alerta"></p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div>
    <p class="decibelios"></p>
  </div>
  <audio id="audioRecorder" controls autoplay style="display: none"></audio>

  <div>
    <span id="errorMsg"></span>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>

<script>
  navigator.getUserMedia = navigator.getUserMedia ||
navigator.webkitGetUserMedia ||
navigator.mozGetUserMedia;
if (navigator.getUserMedia) {
navigator.getUserMedia({
    audio: true
  },
  function(stream) {
    audioContext = new AudioContext();
    analyser = audioContext.createAnalyser();
    microphone = audioContext.createMediaStreamSource(stream);
    javascriptNode = audioContext.createScriptProcessor(2048, 1, 1);

    analyser.smoothingTimeConstant = 0.8;
    analyser.fftSize = 1024;

    microphone.connect(analyser);
    analyser.connect(javascriptNode);
    javascriptNode.connect(audioContext.destination);

    canvasContext = document.getElementById("chartLinePurple").getContext("2d");

    javascriptNode.onaudioprocess = function() {
        var array = new Uint8Array(analyser.frequencyBinCount);
        analyser.getByteFrequencyData(array);
        
        var values = 0;

        var length = array.length;
        for (var i = 0; i < length; i++) {
          values += (array[i]);
        }
        
        var average = values / length;
        //console.log(average = 20 * Math.log10(average))
        //average = 10 * Math.log10(average)
        //tenue, bajo, moderado, dificultad de converssación, fuerte, alto
        if (average <=10){
          document.getElementById("alerta").innerText = "TENUE"
        } 
        else if(average > 10 && average <= 30){
          document.getElementById("alerta").innerText = "BAJO"
        }else if(average > 30 && average <= 60){
          document.getElementById("alerta").innerText = "MODERADO"
        }else if(average > 60 && average <= 80){
          document.getElementById("alerta").innerText = "DIFICULTAD CONVERSACIÓN"
        }else if(average > 80 && average <= 90){
          document.getElementById("alerta").innerText = "FUERTE"
        }else {
          document.getElementById("alerta").innerText = "ALTO"
        }

        //console.log(Math.round(average-40));

        canvasContext.clearRect(0, 0, 150, 300);
        canvasContext.fillStyle = '#BadA55';
        canvasContext.fillRect(0, 300 - average, 150, 300);
        canvasContext.fillStyle = '#262626';
        canvasContext.font = "48px impact";
        //canvasContext.fillText(Math.round(average - 40), -2, 300);

      } // end fn stream
  },
  function(err) {
    console.log("The following error occured: " + err.name)
  });
} else {
console.log("getUserMedia not supported");
}
</script>

{% endblock javascripts %}